.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #282828;
}

.container {
  width: 100%;
  max-width: 100vw;
  background-color: #121212;
  overflow-x: hidden;
  min-width: 100vw;
}

.content {
  background-color: #282828;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 50px;
  overflow-y: auto;
  padding-top: 110px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.task-wrapper {
  margin-bottom: 10px;
}

.task-item {
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 4px;
  width: 50vw;
}

.taskbar {
  background-color: #121212;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

#task {
  font-size: 1.8rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 2px solid #8ccec9;
  width: 60vw;
  padding-top: 1rem;
  background-color: rgba(50, 46, 46, 0.486);
  color: white;
}

#btn {
  position: absolute;
  top: 1rem;
  right: 20vw;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  font-size: 2.5rem;
  color: white;
  background-color: rgb(221, 24, 24);
}

#btn:hover,
#btn:active {
  animation: btn-submit 0.4s ease-in;
}

@keyframes btn-submit {
  50% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0.3rem);
  }
}

.timeclock {
  width: 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}

.time {
  margin-top: 10px;
  font-size: 2rem;
  color: white;
  margin-left: 2px;
  border-radius: 4px;
  background-color: #282828;
}

.clock {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #121212e0;
  z-index: 1;
  gap: 25vw;
  justify-content: center;
  align-items: center;
}

.Heading {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #282828;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 50px;
  overflow-y: auto;
  padding-top: 110px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 50px;
}

.task-wrapper {
  margin-bottom: 10px;
}

.task-item {
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 15px;
  font-size: 2.2rem;
}

.taskbar {
  background-color: #121212;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
}
.remove-button {
  width: 40px;
  height: 40px;
  float: right;
  color: red;
  font-weight: 600;
  font-size: 1.6rem;
}
.checkbox {
  margin-right: 15px;
  width: 2rem;
  height: 2rem;
}
.completed {
  text-decoration: line-through;
}
@media (max-width: 400px) {
  .task-item {
    padding: 3px;
    background-color: #f9f9f9;
    border-radius: 2px;
    padding: 10px;
    font-size: 1.3rem;
    width: 100%;
  }
  #task {
    font-size: 1.3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 2px solid #8ccec9;
    width: 60vw;
    padding-top: 1rem;
    background-color: rgba(50, 46, 46, 0.486);
    color: white;
  }

  .container {
    padding: 0 5px;
  }

  .content {
    padding-top: 110px;
  }

  .task-item {
    width: 90vw;
    font-size: 1.8rem;
  }
}
